<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p class="h1 text-center">Gift Wizard</p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <a class="btn btn-outline-info" href="/questions">Get Started</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
</div>