body {
    background-color: #FFC0BF;
    margin: 4rem 0;
}

.h1 {
    margin: 7rem 0;
    font-family: 'Carter One', cursive;
    font-size: 3.25rem;
}

.h3 {
    margin: 3rem 0;
    font-family: 'Carter One', cursive;
    font-size: 2.5rem;
}

.h4 {
    font-family: 'Carter One', cursive;
}

.btn {
    color: #403333;
    border-color: #403333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn:hover {
    background-color: #403333;
    border-color: #403333;
    color: antiquewhite;
}

.form-check-label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-check {
    margin-bottom: 2rem;
}

.form-check-label {
    margin: 0 .5rem;
}

.submit-btn,
.submit-idea {
    float: right;
    margin: 1rem 0;
}

.back-btn {
    float: left;
    position: relative;
    left: -5.5rem;
    top: -1.5rem;
}

.add-form-label {
    margin: .8rem 0;
}

.add-form {
    margin: 1rem 0;
}

.top-row {
    position: absolute;
}

#message {
    margin: 1.25rem;
    float: right;
}

#validateInput {
    margin-top: .75rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #803B39;
}

.submit-page {
    position: absolute;
}

.submit-btn {
    float: right;
    position: relative;
    top: -2.5rem;
    left: 15rem;
}

.giftIdea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #403333;
}

.suggestions-title {
    margin-top: 2rem;
}
